# mysql settings always needed for database connections
DB_USER=
DB_PASS=
DB_NAME=

# mysql settings needed if making a non-stanard connection
DB_HOST=
DB_PORT=

# ssh settings only needed if you are setting up an ssh tunnel
SSH_USER=
SSH_HOST=
SSH_PORT=
SSH_HOST_PORT=
SSH_BIND_PORT=
